FORMAT: 1A
HOST: https://mobile.foreupsoftware.com/api_rest/index.php/

# foreUp API

The foreUp API can be used to access sales data, tee time usage, and other information from courses you have permission to access.

The responses follow the JSONapi spec, read about it here: http://jsonapi.org/.

They have several imeplementations for parsing responses here: http://jsonapi.org/implementations/.

# Group Secured Access


## Authentication [/tokens]


### Create a New Token [POST]

To authenticate with the api you must first create a JWT using your username/password.  To learn more about JWT go here: https://jwt.io/.

+ Request (application/json)

            {
            "email": "testaccount@test.com",
            "password": "testaccount@test.com"
            }

+ Response 200 (application/json)

    + Body

            {
              "data": {
                "type": "token",
                "id": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJmb3JldXBzb2Z0d2FyZS5jb20iLCJhdWQiOiJmb3JldXBzb2Z0d2FyZS5jb20iLCJpYXQiOjE0NzQ5MjI5MzgsImV4cCI6MTQ3NzUxNDkzOCwibGV2ZWwiOjAsImNpZCI6MCwiZW1wbG95ZWUiOmZhbHNlLCJ1aWQiOjY0ODI3Mjh9.go-Bf_6X8qByMu9JblewsmQt1dsqOu_70z6IlYYaZgGbsvjf9uQI0-RFSEivALntv0HF6-6WN9T5FxLpGyxcNA",
                "attributes": []
              }
            }
# Group Courses

## Courses [/courses]

This endpoint will list all the courses which you have access too.

### List All[GET]
+ Request (application/json)

    + Headers

            x-authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJhdWQiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJpYXQiOjE1MTYwNTY0NDYsImV4cCI6MTUxODY0ODQ0NiwibGV2ZWwiOjMsImNpZCI6NjI3MCwiZW1wbG95ZWUiOnRydWUsInVpZCI6MTJ9.jbRcT7nRaofG3VnryYne7jKiaBOAAAZTdvPV4TiUOLHy41sQDgSis1yY3p_qK4ahAha6Z2_o2CHWYIaZwQgeLg

+ Response 200 (application/json)

    + Attributes
        + data (array[Courses])


## Sales [/courses/{courseId}/sales{?include,startDate,endDate,start,limit}]

### Get One [GET /courses/{courseId}/sales/{saleId}{?include}]
+ Request (application/json)

    + Headers

            x-authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJhdWQiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJpYXQiOjE1MTYwNTY0NDYsImV4cCI6MTUxODY0ODQ0NiwibGV2ZWwiOjMsImNpZCI6NjI3MCwiZW1wbG95ZWUiOnRydWUsInVpZCI6MTJ9.jbRcT7nRaofG3VnryYne7jKiaBOAAAZTdvPV4TiUOLHy41sQDgSis1yY3p_qK4ahAha6Z2_o2CHWYIaZwQgeLg

+ Parameters
    + courseId : 6270 - A course id that the user has permission to access.
    + saleId : 24378234 (string) - A course id that the user has permission to access.
    + include : items (enum[string],optional) - Which relationships to include in response.
        + Members
            + `items`
            + `terminals`
            + `bookings`
+ Response 200 (application/json)

    + Attributes
        + data (Sales)

### List All [GET]
+ Request (application/json)

    + Headers

            x-authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJhdWQiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJpYXQiOjE1MTYwNTY0NDYsImV4cCI6MTUxODY0ODQ0NiwibGV2ZWwiOjMsImNpZCI6NjI3MCwiZW1wbG95ZWUiOnRydWUsInVpZCI6MTJ9.jbRcT7nRaofG3VnryYne7jKiaBOAAAZTdvPV4TiUOLHy41sQDgSis1yY3p_qK4ahAha6Z2_o2CHWYIaZwQgeLg

+ Parameters
    + courseId : 6270 - A course id that the user has permission to access.
    + limit: 10 (integer, optional)- Total results to show (Max: 100).
    + start: 0 (integer, optional)- Which result to start on.
    + startDate : `2016-07-06` (date,optional) - Must limit the sales returned to a single date.
    + endDate : `2016-07-08` (date,optional) - Must limit the sales returned to a single date.
    + include : items (enum[string],optional) - Which relationships to include in response.
        + Members
            + `items`
            + `terminals`
            + `bookings`
+ Response 200 (application/json)

    + Attributes
        + data (array[Sales])


### Create [POST /courses/{courseId}/sales]

You are only able to adjust the unit price and quantity of an item within a sale.  The taxes are generated automatically on the back-end and they default to include the tax in the price.

+ Request (application/json)

    + Attributes (Sales Request)

    + Headers

            x-authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJhdWQiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJpYXQiOjE1MTYwNTY0NDYsImV4cCI6MTUxODY0ODQ0NiwibGV2ZWwiOjMsImNpZCI6NjI3MCwiZW1wbG95ZWUiOnRydWUsInVpZCI6MTJ9.jbRcT7nRaofG3VnryYne7jKiaBOAAAZTdvPV4TiUOLHy41sQDgSis1yY3p_qK4ahAha6Z2_o2CHWYIaZwQgeLg

    + Body

            {
              "data":{
                "type":"sales",
                "attributes":{
                  "employeeId":5478650,
                  "guestCount":0,
                  "number":485,
                  "terminalId":6,
                  "items":[
                    {
                      "type":"sales_items",
                      "attributes":{
                        "itemId":5311,
                        "quantity":1,
                        "unitPrice":10,
                        "description":""
                      }
                    },
                    {
                      "type":"sales_items",
                      "attributes":{
                        "itemId":5311,
                        "quantity":1,
                        "unitPrice":10,
                        "description":""
                      }
                    }
                  ],
                  "payments":[
                    {
                      "type":"sales_payments",
                      "attributes":{
                        "paymentAmount":20,
                        "invoiceId":"1",
                        "type":"credit_card"
                      }
                    }
                  ]
                }
              }
            }


+ Parameters
    + courseId : 6270 - A course id that the user has permission to access.


+ Response 200 (application/json)

    + Attributes
        + data (Sales)

## Tee Sheets [/courses/{courseId}/teesheets]


### Get All [GET]
+ Request (application/json)

    + Headers

            x-authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJhdWQiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJpYXQiOjE1MTYwNTY0NDYsImV4cCI6MTUxODY0ODQ0NiwibGV2ZWwiOjMsImNpZCI6NjI3MCwiZW1wbG95ZWUiOnRydWUsInVpZCI6MTJ9.jbRcT7nRaofG3VnryYne7jKiaBOAAAZTdvPV4TiUOLHy41sQDgSis1yY3p_qK4ahAha6Z2_o2CHWYIaZwQgeLg

+ Parameters
    + courseId : 6270 - A course id that the user has permission to access.

+ Response 200 (application/json)

    + Attributes
        + data (array[Tee Sheets])

## Terminals [/courses/{courseId}/terminals]

### Get All [GET]
+ Request (application/json)

    + Headers

            x-authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJhdWQiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJpYXQiOjE1MTYwNTY0NDYsImV4cCI6MTUxODY0ODQ0NiwibGV2ZWwiOjMsImNpZCI6NjI3MCwiZW1wbG95ZWUiOnRydWUsInVpZCI6MTJ9.jbRcT7nRaofG3VnryYne7jKiaBOAAAZTdvPV4TiUOLHy41sQDgSis1yY3p_qK4ahAha6Z2_o2CHWYIaZwQgeLg

+ Parameters
    + courseId : 6270 - A course id that the user has permission to access.

+ Response 200 (application/json)

    + Attributes
        + data (array[Terminals])

## Employees [/courses/{courseId}/employees{?include,start,limit}]

+ Model

    + Body

            {
              "data": [
                {
                  "type": "employees",
                  "id": "5478650",
                  "attributes": {
                    "user_level": 1,
                    "position": "",
                    "username": "tnash1",
                    "activated": 1,
                    "last_login": {
                      "date": "2016-10-17 04:25:41.000000",
                      "timezone_type": 3,
                      "timezone": "America/Denver"
                    },
                    "contact_info": {
                      "id": 5478650,
                      "first_name": "Trevor",
                      "last_name": "nash",
                      "phone_number": "",
                      "cell_phone_number": "",
                      "email": "fake@fake.com",
                      "birthday": null,
                      "address_1": "",
                      "address_2": "",
                      "city": "",
                      "state": "",
                      "zip": "",
                      "country": "",
                      "comments": ""
                    }
                  }
                }
              ]
            }

### Get All [GET]
+ Request (application/json)

    + Headers

            x-authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJhdWQiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJpYXQiOjE1MTYwNTY0NDYsImV4cCI6MTUxODY0ODQ0NiwibGV2ZWwiOjMsImNpZCI6NjI3MCwiZW1wbG95ZWUiOnRydWUsInVpZCI6MTJ9.jbRcT7nRaofG3VnryYne7jKiaBOAAAZTdvPV4TiUOLHy41sQDgSis1yY3p_qK4ahAha6Z2_o2CHWYIaZwQgeLg

+ Parameters
    + courseId : 6270 - A course id that the user has permission to access.
    + limit: 10 (integer, optional)- Total results to show (Max: 100).
    + start: 0 (integer, optional)- Which result to start on.

+ Response 200 (application/json)

    [Employees][]


# Group Tee Sheets

## Bookings [/courses/{courseId}/teesheets/{teesheetId}/bookings{?include,startDate,endDate,start,limit}]

Bookings don't contain any pricing information and are purely the bookings on a teesheet.
To get pricing information from a booking that's already been paid for you must include the sales relationship.  The sales object will include the customer information, payment details, and item details.

### Get All [GET]

###How should I distinguish green fees from other item?
Green fees and carts will have a category of "Green Fees" and "Carts" respectively.  The department can be customized but a course can't adjust the category.

###Is it possible to include players and sales.items at the same time ?
Yes, add this to your query: include=players,sales,sales.items

###How do you identify the booking type? (Customer, Member, Public, etc)
The sales_items object containes an attribute "PriceClass" that designates the green fee type.

+ Request (application/json)

    + Headers

            x-authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJhdWQiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJpYXQiOjE1MTYwNTY0NDYsImV4cCI6MTUxODY0ODQ0NiwibGV2ZWwiOjMsImNpZCI6NjI3MCwiZW1wbG95ZWUiOnRydWUsInVpZCI6MTJ9.jbRcT7nRaofG3VnryYne7jKiaBOAAAZTdvPV4TiUOLHy41sQDgSis1yY3p_qK4ahAha6Z2_o2CHWYIaZwQgeLg

+ Parameters
    + courseId : 6270 - A course id that the user has permission to access.
    + teesheetId : 1530 (integer) - A tee sheet id that the user has permission to access.
    + limit: 10 (integer, optional)- Total results to show (Max: 100).
    + start: 0 (integer, optional)- Which result to start on.
    + startDate : `2016-09-29` (date,optional) - Must limit the sales returned to a single date.
    + endDate : `2016-09-30` (date,optional) - Must limit the sales returned to a single date.
    + include : `players`,`sales` (enum[string],optional) - Which relationships to include in response.
        + Members
            + `players`
            + `sales`
            + `sales.items`
            + `bookedPlayers`
            + `bookedPlayers.people`
            + `bookedPlayers.priceClasses`

+ Response 200 (application/json)

    + Attributes
        + data (array[Bookings]

### Get One [GET /courses/{courseId}/teesheets/{teesheetId}/bookings/{bookingId}{?include}]

+ Request (application/json)

    + Headers

            x-authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJhdWQiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJpYXQiOjE1MTYwNTY0NDYsImV4cCI6MTUxODY0ODQ0NiwibGV2ZWwiOjMsImNpZCI6NjI3MCwiZW1wbG95ZWUiOnRydWUsInVpZCI6MTJ9.jbRcT7nRaofG3VnryYne7jKiaBOAAAZTdvPV4TiUOLHy41sQDgSis1yY3p_qK4ahAha6Z2_o2CHWYIaZwQgeLg

+ Parameters
    + courseId : 6270 - A course id that the user has permission to access.
    + teesheetId : 1530 (string) - A tee sheet id that the user has permission to access.
    + bookingId : TTID_0929103348mnhfo (string) - A tee sheet id that the user has permission to access.
    + include : `players`,`sales` (enum[string],optional) - Which relationships to include in response.
        + Members
            + `players`
            + `sales`
            + `sales.items`
            + `bookedPlayers`
            + `bookedPlayers.people`
            + `bookedPlayers.priceClasses`

+ Response 200 (application/json)

    + Attributes
        + data (Bookings)

## Stats [/courses/{courseId}/teesheets/{teesheetId}/stats{?date}]

### Get All [GET]
+ Request (application/json)

    + Headers

            x-authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJmb3JldXBzb2Z0d2FyZS5jb20iLCJhdWQiOiJmb3JldXBzb2Z0d2FyZS5jb20iLCJpYXQiOjE0Nzg5MDQxMDIsImV4cCI6MTUxMDAwODEwMiwibGV2ZWwiOjMsImNpZCI6OTAzOSwiZW1wbG95ZWUiOnRydWUsInVpZCI6MTYzNywiZW1wSWQiOjE2MzcsImFwcElkIjo2NDgyNzI4LCJwcmljZUNsYXNzSWQiOm51bGx9.ooY5m1n3qurbJhkRzrviVPVailuKnLXbImHO8-y-p9ryejEpeE-IUrS_APJpAQcGTxY7YCQL_qhRgRbeSriW8A

+ Parameters
    + courseId : 6270 - A course id that the user has permission to access.
    + teesheetId : 1562 (integer) - A tee sheet id that the user has permission to access.
    + date : `2016-05-19` (date) - Must limit the stats returned to a single date.

+ Response 200 (application/json)

            {
              "data": {
                "type": "teesheet_stats",
                "id": "2016-09-28",
                "attributes": {
                  "bookings": "1",
                  "occupancy": "0%",
                  "playerNoShows": "1",
                  "playersCheckedIn": 0,
                  "revenue": "$486.30"
                }
              }
            }

# Group Teetime Pricing

Tee time pricing is extremely flexible. There are three important parts to tee time pricing.

- Price Clases
    * A course can have as many price classes as they want.  These are essentially customer categories such as member, guest, senior, junior, etc
- Season
    * This is a date range such as, winter, summer, august, etc.
- Time Frames
    * Each season can have multiple time frames. Time frames are a time range, examples include twilight, afternoon, evening, etc.
    * Time Frames contain the price, there is a default time frame for each price class / season.



[![name](https://s3-us-west-2.amazonaws.com/foreup.course.images/Blank+Diagram+-+Page+1.png)](https://s3-us-west-2.amazonaws.com/foreup.course.images/Blank+Diagram+-+Page+1.png)

## Seasons [/courses/{courseId}/teesheets/{teesheetId}/seasons{?include}]

### Get All [GET]
+ Request (application/json)

    + Headers

            x-authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJhdWQiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJpYXQiOjE1MTYwNTY0NDYsImV4cCI6MTUxODY0ODQ0NiwibGV2ZWwiOjMsImNpZCI6NjI3MCwiZW1wbG95ZWUiOnRydWUsInVpZCI6MTJ9.jbRcT7nRaofG3VnryYne7jKiaBOAAAZTdvPV4TiUOLHy41sQDgSis1yY3p_qK4ahAha6Z2_o2CHWYIaZwQgeLg

+ Parameters
    + courseId : 6270 - A course id that the user has permission to access.
    + teesheetId : 1526
    + include : classes (enum[string],optional) - Which relationships to include in response.
        + Members
            + `classes`

+ Response 200 (application/json)

    + Attributes
        + data (array[Seasons])

### Get One [GET /courses/{courseId}/teesheets/{teesheetId}/seasons/{seasonId}{?include}]
+ Request (application/json)

    + Headers

            x-authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJhdWQiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJpYXQiOjE1MTYwNTY0NDYsImV4cCI6MTUxODY0ODQ0NiwibGV2ZWwiOjMsImNpZCI6NjI3MCwiZW1wbG95ZWUiOnRydWUsInVpZCI6MTJ9.jbRcT7nRaofG3VnryYne7jKiaBOAAAZTdvPV4TiUOLHy41sQDgSis1yY3p_qK4ahAha6Z2_o2CHWYIaZwQgeLg

+ Parameters
    + courseId : 6270 - A course id that the user has permission to access.
    + teesheetId : 1526
    + seasonId : 2446
    + include : classes (enum[string],optional) - Which relationships to include in response.
        + Members
            + `classes`

+ Response 200 (application/json)

    + Attributes
        + data (Seasons)

### Update [PATCH /courses/{courseId}/teesheets/{teesheetId}/seasons/{seasonId}{?include}]
+ Request (application/json)

    + Headers

            x-authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJhdWQiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJpYXQiOjE1MTYwNTY0NDYsImV4cCI6MTUxODY0ODQ0NiwibGV2ZWwiOjMsImNpZCI6NjI3MCwiZW1wbG95ZWUiOnRydWUsInVpZCI6MTJ9.jbRcT7nRaofG3VnryYne7jKiaBOAAAZTdvPV4TiUOLHy41sQDgSis1yY3p_qK4ahAha6Z2_o2CHWYIaZwQgeLg

    + Attributes
        + data (Seasons)

+ Parameters
    + courseId : 6270 - A course id that the user has permission to access.
    + teesheetId : 1526
    + seasonId : 2446
    + include : classes (enum[string],optional) - Which relationships to include in response.
        + Members
            + `classes`

+ Response 200 (application/json)

    + Attributes
        + data (Seasons)

### Create [POST /courses/{courseId}/teesheets/{teesheetId}/seasons{?include}]
+ Request (application/json)

    + Headers

            x-authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJhdWQiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJpYXQiOjE1MTYwNTY0NDYsImV4cCI6MTUxODY0ODQ0NiwibGV2ZWwiOjMsImNpZCI6NjI3MCwiZW1wbG95ZWUiOnRydWUsInVpZCI6MTJ9.jbRcT7nRaofG3VnryYne7jKiaBOAAAZTdvPV4TiUOLHy41sQDgSis1yY3p_qK4ahAha6Z2_o2CHWYIaZwQgeLg

    + Attributes
        + data (Seasons)

+ Parameters
    + courseId : 6270 - A course id that the user has permission to access.
    + teesheetId : 1526
    + include : classes (enum[string],optional) - Which relationships to include in response.
        + Members
            + `classes`

+ Response 200 (application/json)

    + Attributes
        + data (Seasons)

## Seasonal Timeframes [/courses/{courseId}/teesheets/{teesheetId}/seasons/{seasonId}/timeframes{?include}]

### Get All [GET]
+ Request (application/json)

    + Headers

            x-authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJhdWQiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJpYXQiOjE1MTYwNTY0NDYsImV4cCI6MTUxODY0ODQ0NiwibGV2ZWwiOjMsImNpZCI6NjI3MCwiZW1wbG95ZWUiOnRydWUsInVpZCI6MTJ9.jbRcT7nRaofG3VnryYne7jKiaBOAAAZTdvPV4TiUOLHy41sQDgSis1yY3p_qK4ahAha6Z2_o2CHWYIaZwQgeLg

+ Parameters
    + courseId : 6270 - A course id that the user has permission to access.
    + teesheetId : 1526
    + seasonId : 2446
    + include : classes (enum[string],optional) - Which relationships to include in response.
        + Members
            + `classes`
            + `seasons`

+ Response 200 (application/json)

    + Attributes
        + data (array[Seasonal Timeframes])

### Get One [GET /courses/{courseId}/teesheets/{teesheetId}/seasons/{seasonId}/timeframes/{timeframeId}{?include}]
+ Request (application/json)

    + Headers

            x-authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJhdWQiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJpYXQiOjE1MTYwNTY0NDYsImV4cCI6MTUxODY0ODQ0NiwibGV2ZWwiOjMsImNpZCI6NjI3MCwiZW1wbG95ZWUiOnRydWUsInVpZCI6MTJ9.jbRcT7nRaofG3VnryYne7jKiaBOAAAZTdvPV4TiUOLHy41sQDgSis1yY3p_qK4ahAha6Z2_o2CHWYIaZwQgeLg

+ Parameters
    + courseId : 6270 - A course id that the user has permission to access.
    + teesheetId : 1526
    + seasonId : 2446
    + timeframeId : 35645
    + include : classes (enum[string],optional) - Which relationships to include in response.
        + Members
            + `classes`
            + `seasons`

+ Response 200 (application/json)

    + Attributes
        + data (Seasonal Timeframes)

### Update [PATCH /courses/{courseId}/teesheets/{teesheetId}/seasons/{seasonId}/timeframes/{timeframeId}{?include}]
+ Request (application/json)

    + Headers

            x-authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJhdWQiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJpYXQiOjE1MTYwNTY0NDYsImV4cCI6MTUxODY0ODQ0NiwibGV2ZWwiOjMsImNpZCI6NjI3MCwiZW1wbG95ZWUiOnRydWUsInVpZCI6MTJ9.jbRcT7nRaofG3VnryYne7jKiaBOAAAZTdvPV4TiUOLHy41sQDgSis1yY3p_qK4ahAha6Z2_o2CHWYIaZwQgeLg

    + Attributes
        + data (Seasonal Timeframes)

+ Parameters
    + courseId : 6270 - A course id that the user has permission to access.
    + teesheetId : 1526
    + seasonId : 2446
    + timeframeId : 35645
    + include : classes (enum[string],optional) - Which relationships to include in response.
        + Members
            + `classes`
            + `seasons`

+ Response 200 (application/json)

    + Attributes
        + data (Seasonal Timeframes)

### Create [POST]
+ Request (application/json)

    + Headers

            x-authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJhdWQiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJpYXQiOjE1MTYwNTY0NDYsImV4cCI6MTUxODY0ODQ0NiwibGV2ZWwiOjMsImNpZCI6NjI3MCwiZW1wbG95ZWUiOnRydWUsInVpZCI6MTJ9.jbRcT7nRaofG3VnryYne7jKiaBOAAAZTdvPV4TiUOLHy41sQDgSis1yY3p_qK4ahAha6Z2_o2CHWYIaZwQgeLg

    + Attributes
        + data (Seasonal Timeframes)

+ Parameters
    + courseId : 6270 - A course id that the user has permission to access.
    + teesheetId : 1526
    + seasonId : 2446
    + include : classes (enum[string],optional) - Which relationships to include in response.
        + Members
            + `classes`
            + `seasons`

+ Response 200 (application/json)

    + Attributes
        + data (Seasonal Timeframes)

# Group Customers

## Customer Collection [/courses/{courseId}/customers{?limit,start}]

### List All [GET]

+ Request (application/json)

    + Headers

            x-authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJhdWQiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJpYXQiOjE1MTYwNTY0NDYsImV4cCI6MTUxODY0ODQ0NiwibGV2ZWwiOjMsImNpZCI6NjI3MCwiZW1wbG95ZWUiOnRydWUsInVpZCI6MTJ9.jbRcT7nRaofG3VnryYne7jKiaBOAAAZTdvPV4TiUOLHy41sQDgSis1yY3p_qK4ahAha6Z2_o2CHWYIaZwQgeLg

+ Parameters
    + courseId : 6270 - A course id that the user has permission to access.
    + start : 0 (integer,optional) - Which result to start on.
    + limit : 10 (integer,optional) - Total results to show.

+ Response 200 (application/json)

            {
              "data": [
                {
                  "type": "customers",
                  "id": "2073",
                  "attributes": {
                    "username": "username",
                    "account_number": "123ABC",
                    "company_name": "MyCompany",
                    "taxable": true,
                    "discount": 0,
                    "opt_out_email": false,
                    "opt_out_text": false,
                    "date_created": null,
                    "contact_info": {
                      "id": 2073,
                      "first_name": "FirstName",
                      "last_name": "LastName",
                      "phone_number": "",
                      "cell_phone_number": "",
                      "email": "foreup@fake.com",
                      "birthday": null,
                      "address_1": "",
                      "address_2": "",
                      "city": "",
                      "state": "AL",
                      "zip": "",
                      "country": "",
                      "comments": "Best customer ever!!"
                    }
                  }
                }
              ]
            }

## Specific Customer [/courses/{courseId}/customers/{customerId}{?include,limit,start}]

### Get One [GET]

+ Request (application/json)

    + Headers

            x-authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJhdWQiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJpYXQiOjE1MTYwNTY0NDYsImV4cCI6MTUxODY0ODQ0NiwibGV2ZWwiOjMsImNpZCI6NjI3MCwiZW1wbG95ZWUiOnRydWUsInVpZCI6MTJ9.jbRcT7nRaofG3VnryYne7jKiaBOAAAZTdvPV4TiUOLHy41sQDgSis1yY3p_qK4ahAha6Z2_o2CHWYIaZwQgeLg

+ Parameters

    + courseId : 6270 - A course id that the user has permission to access.
    + customerId : 3612897 - The customer id.
    + start : 0 (integer,optional) - Which result to start on.
    + limit : 10 (integer,optional) - Total results to show.
    + include : sales (enum[string],optional) - Which relationships to include in response.
        + Members
            + `sales`
            + `sales.items`

+ Response 200 (application/json)

            {
              "data": [
                {
                  "type": "customers",
                  "id": "2073",
                  "attributes": {
                    "username": "username",
                    "account_number": "123ABC",
                    "company_name": "MyCompany",
                    "taxable": true,
                    "discount": 0,
                    "opt_out_email": false,
                    "opt_out_text": false,
                    "date_created": null,
                    "contact_info": {
                      "id": 2073,
                      "first_name": "FirstName",
                      "last_name": "LastName",
                      "phone_number": "",
                      "cell_phone_number": "",
                      "email": "foreup@fake.com",
                      "birthday": null,
                      "address_1": "",
                      "address_2": "",
                      "city": "",
                      "state": "AL",
                      "zip": "",
                      "country": "",
                      "comments": "Best customer ever!!"
                    }
                  }
                }
              ]
            }

## Customer Sales [/courses/{courseId}/customers/{customerId}/sales{?include,limit,start}]

### List All [GET]

+ Request (application/json)

    + Headers

            x-authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJhdWQiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJpYXQiOjE1MTYwNTY0NDYsImV4cCI6MTUxODY0ODQ0NiwibGV2ZWwiOjMsImNpZCI6NjI3MCwiZW1wbG95ZWUiOnRydWUsInVpZCI6MTJ9.jbRcT7nRaofG3VnryYne7jKiaBOAAAZTdvPV4TiUOLHy41sQDgSis1yY3p_qK4ahAha6Z2_o2CHWYIaZwQgeLg

+ Parameters
    + courseId : 6270 - A course id that the user has permission to access.
    + customerId : 3612897 - The customer id.
    + limit: 10 (integer,optional) - Total results to show (Max: 100).
    + start: 0 (integer,optional) - Which result to start on.
    + include : items (enum[string],optional) - Which relationships to include in response.
        + Members
            + `items`
+ Response 200 (application/json)

    + Attributes
        + data (array[Sales])



# Group Inventory
## Item Collection [/courses/{courseId}/items{?limit,start}]

Inventory Items consist of Item Kits, Items, Service Fees, Passes, and Punch Cards.  This does not include tee times which are handled separately.

### List All [GET]
+ Request (application/json)

    + Headers

            x-authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJhdWQiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJpYXQiOjE1MTYwNTY0NDYsImV4cCI6MTUxODY0ODQ0NiwibGV2ZWwiOjMsImNpZCI6NjI3MCwiZW1wbG95ZWUiOnRydWUsInVpZCI6MTJ9.jbRcT7nRaofG3VnryYne7jKiaBOAAAZTdvPV4TiUOLHy41sQDgSis1yY3p_qK4ahAha6Z2_o2CHWYIaZwQgeLg

+ Parameters
    + courseId : 6270 - A course id that the user has permission to access.
    + limit: 10 (integer,optional) - Total results to show (Max: 100).
    + start: 0 (integer,optional)- Which result to start on.

+ Response 200 (application/json)

            {
              "data": [
                {
                  "type": "items",
                  "id": "383",
                  "attributes": {
                    "maxDiscount": 100,
                    "addOnPrice": 0,
                    "costPrice": 0,
                    "courseId": 6270,
                    "quantity": 1000,
                    "numberOfSides": 0,
                    "unitPrice": 10000000,
                    "category": "Services",
                    "itemNumber": null,
                    "location": "",
                    "name": "Joel Ragar",
                    "subcategory": "",
                    "department": "Food & Beverage",
                    "description": "",
                    "glCode": null,
                    "usInactive": false,
                    "doNotPrint": false,
                    "deleted": true,
                    "isfoodAndBeverage": false,
                    "isInvisible": false,
                    "isFree": false,
                    "isGiftcard": false,
                    "isPass": false,
                    "isSide": false,
                    "isUnlimited": false,
                    "isSoupOrSalad": true,
                    "unitPriceIncludesTAx": false
                  }
                }
              ]
            }


## Transaction Collection [/courses/{courseId}/inventory{?include,startDate,endDate,limit,start}]

    This is a record of each adjustment made to a courses inventory.  A negative number signifies one less item is available while a positive number means an item was added.

### List All [GET]
+ Request (application/json)

    + Headers

            x-authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJhdWQiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJpYXQiOjE1MTYwNTY0NDYsImV4cCI6MTUxODY0ODQ0NiwibGV2ZWwiOjMsImNpZCI6NjI3MCwiZW1wbG95ZWUiOnRydWUsInVpZCI6MTJ9.jbRcT7nRaofG3VnryYne7jKiaBOAAAZTdvPV4TiUOLHy41sQDgSis1yY3p_qK4ahAha6Z2_o2CHWYIaZwQgeLg

+ Parameters
    + courseId : 6270 - A course id that the user has permission to access.
    + limit: 10 (Integer, optional)- Total results to show (Max: 100).
    + start: 0 (Integer, optional)- Which result to start on.
    + startDate : `2016-05-19` (date,optional) - Must limit the sales returned to a single date.
    + endDate : `2016-05-19` (date,optional) - Must limit the sales returned to a single date.
    + include : items (enum[string],optional) - Which relationships to include in the response.
        + Members
            + `employees`
            + `sales`
            + `items`
+ Response 200 (application/json)

            {
              "data": [
                {
                  "type": "inventory",
                  "id": "8810",
                  "attributes": {
                    "comment": "Manual Edit of Quantity",
                    "adjustmentAmount": -1,
                    "courseId": 6270,
                    "itemId": 5286,
                    "itemNumber": 0,
                    "transDate": {
                      "date": "2016-09-01 11:31:29.000000",
                      "timezone_type": 3,
                      "timezone": "America/Denver"
                    }
                  }
                }
              ]
            }



# Group Accounts

## Recurring Charges [/courses/{courseId}/accountRecurringCharges{?include,includeDeleted}]

### Get One [GET /courses/{courseId}/accountRecurringCharges/{recurringChargeId}{?include}]

+ Request (application/json)

    + Headers

            x-authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJhdWQiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJpYXQiOjE1MTYwNTY0NDYsImV4cCI6MTUxODY0ODQ0NiwibGV2ZWwiOjMsImNpZCI6NjI3MCwiZW1wbG95ZWUiOnRydWUsInVpZCI6MTJ9.jbRcT7nRaofG3VnryYne7jKiaBOAAAZTdvPV4TiUOLHy41sQDgSis1yY3p_qK4ahAha6Z2_o2CHWYIaZwQgeLg

+ Parameters
    + courseId : 6270 - A course id that the user has permission to access.
    + recurringChargeId : 10 - The id of a recurring charge the user has permission to access.
    + include : items (enum[string], optional)
        + Members
            + `items`
            + `payment_terms`

+ Response 200 (application/json)

            {
                "data":[
                {
                    "type": "accountRecurringCharges",
                    "id": "10",
                    "attributes": {
                        "name": "valid name",
                        "description": "valid description",
                        "date_created": "2016-12-12T11:11:11.000000-0700",
                        "start_date": null,
                        "end_date": null,
                        "created_by": 12,
                        "organization_id": 6270,
                        "is_active": true,
                        "date_deleted": null,
                        "deleted_by": null
                    },
                    "relationships": {
                        "items": {
                            "data": [
                            {
                                "type": "items",
                                "id": "21"
                            },
                            {
                                "type": "items",
                                "id": "22"
                            }
                            ]
                        }
                    }
                }
                ],
                "included": [
                {
                  "type": "repeated",
                  "id": "10",
                  "attributes": {
                    "type": "recurring_charge_item",
                    "resource_id": 21,
                    "last_ran": null,
                    "next_occurence": null,
                    "freq": "MONTHLY",
                    "dtstart": null,
                    "until": null,
                    "interval": null,
                    "count": null,
                    "bymonth": null,
                    "byweekno": null,
                    "byyearday": null,
                    "bymonthday": null,
                    "byday": null,
                    "wkst": null,
                    "byhour": null,
                    "byminute": null,
                    "bysecond": null,
                    "bysetpos": null
                  }
                },
                {
                  "type": "repeated",
                  "id": "11",
                  "attributes": {
                    "type": "recurring_charge_item",
                    "resource_id": 22,
                    "last_ran": null,
                    "next_occurence": null,
                    "freq": "MONTHLY",
                    "dtstart": null,
                    "until": null,
                    "interval": null,
                    "count": null,
                    "bymonth": null,
                    "byweekno": null,
                    "byyearday": null,
                    "bymonthday": null,
                    "byday": null,
                    "wkst": null,
                    "byhour": null,
                    "byminute": null,
                    "bysecond": null,
                    "bysetpos": null
                  }
                },
                {
                  "type": "items",
                  "id": "21",
                  "attributes": {
                    "item_id": 1,
                    "item_type": "item",
                    "line_number": 1,
                    "unit_price": "19.99",
                    "discount_percent": "0.00",
                    "quantity": "500.00",
                    "recurring_charge_id": 10
                  },
                  "relationships": {
                    "repeated": {
                      "data": {
                        "type": "repeated",
                        "id": "10"
                      }
                    }
                  }
                },
                {
                  "type": "items",
                  "id": "22",
                  "attributes": {
                    "item_id": 2,
                    "item_type": "item",
                    "line_number": 1,
                    "unit_price": "18.99",
                    "discount_percent": "0.00",
                    "quantity": "200.00",
                    "recurring_charge_id": 10
                  },
                  "relationships": {
                    "repeated": {
                      "data": {
                        "type": "repeated",
                        "id": "11"
                      }
                    }
                  }
                }
                ]
            }

### List All [GET /courses/{courseId}/accountRecurringCharges{?include,includeDeleted,limit,offset}]

+ Request (application/json)

    + Headers

            x-authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJhdWQiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJpYXQiOjE1MTYwNTY0NDYsImV4cCI6MTUxODY0ODQ0NiwibGV2ZWwiOjMsImNpZCI6NjI3MCwiZW1wbG95ZWUiOnRydWUsInVpZCI6MTJ9.jbRcT7nRaofG3VnryYne7jKiaBOAAAZTdvPV4TiUOLHy41sQDgSis1yY3p_qK4ahAha6Z2_o2CHWYIaZwQgeLg

+ Parameters
    + courseId : 6270 - A course id that the user has permission to access.
    + include : items (enum[string], optional)
            + Members
                + `items`
                + `payment_terms`
    + includeDeleted (boolean, optional)
    + limit: 1 (number, optional)
    + offset: 0 (number, optional)

+ Response 200 (application/json)

            {
                "data":[

                {
                    "type": "accountRecurringCharges",
                    "id": "10",
                    "attributes": {
                        "name": "valid name",
                        "description": "valid description",
                        "date_created": "2016-12-12T11:11:11.000000-0700",
                        "start_date": null,
                        "end_date": null,
                        "created_by": 12,
                        "organization_id": 6270,
                        "is_active": true,
                        "date_deleted": null,
                        "deleted_by": null
                    },
                    "relationships": {
                        "items": {
                            "data": [
                            {
                                "type": "items",
                                "id": "21"
                            },
                            {
                                "type": "items",
                                "id": "22"
                            }
                            ]
                        }
                    }
                }
                ],
                "included": [
                {
                  "type": "repeated",
                  "id": "10",
                  "attributes": {
                    "type": "recurring_charge_item",
                    "resource_id": 21,
                    "last_ran": null,
                    "next_occurence": null,
                    "freq": "MONTHLY",
                    "dtstart": null,
                    "until": null,
                    "interval": null,
                    "count": null,
                    "bymonth": null,
                    "byweekno": null,
                    "byyearday": null,
                    "bymonthday": null,
                    "byday": null,
                    "wkst": null,
                    "byhour": null,
                    "byminute": null,
                    "bysecond": null,
                    "bysetpos": null
                  }
                },
                {
                  "type": "repeated",
                  "id": "11",
                  "attributes": {
                    "type": "recurring_charge_item",
                    "resource_id": 22,
                    "last_ran": null,
                    "next_occurence": null,
                    "freq": "MONTHLY",
                    "dtstart": null,
                    "until": null,
                    "interval": null,
                    "count": null,
                    "bymonth": null,
                    "byweekno": null,
                    "byyearday": null,
                    "bymonthday": null,
                    "byday": null,
                    "wkst": null,
                    "byhour": null,
                    "byminute": null,
                    "bysecond": null,
                    "bysetpos": null
                  }
                },
                {
                  "type": "items",
                  "id": "21",
                  "attributes": {
                    "item_id": 1,
                    "item_type": "item",
                    "line_number": 1,
                    "unit_price": "19.99",
                    "discount_percent": "0.00",
                    "quantity": "500.00",
                    "recurring_charge_id": 10
                  },
                  "relationships": {
                    "repeated": {
                      "data": {
                        "type": "repeated",
                        "id": "10"
                      }
                    }
                  }
                },
                {
                  "type": "items",
                  "id": "22",
                  "attributes": {
                    "item_id": 2,
                    "item_type": "item",
                    "line_number": 1,
                    "unit_price": "18.99",
                    "discount_percent": "0.00",
                    "quantity": "200.00",
                    "recurring_charge_id": 10
                  },
                  "relationships": {
                    "repeated": {
                      "data": {
                        "type": "repeated",
                        "id": "11"
                      }
                    }
                  }
                }
                ]
            }

### Update [PUT /courses/{courseId}/accountRecurringCharges]
+ Request (application/json)

    + Headers

            x-authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJhdWQiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJpYXQiOjE1MTYwNTY0NDYsImV4cCI6MTUxODY0ODQ0NiwibGV2ZWwiOjMsImNpZCI6NjI3MCwiZW1wbG95ZWUiOnRydWUsInVpZCI6MTJ9.jbRcT7nRaofG3VnryYne7jKiaBOAAAZTdvPV4TiUOLHy41sQDgSis1yY3p_qK4ahAha6Z2_o2CHWYIaZwQgeLg


    + Attributes
        + meta (object,optional)
            + test: true (boolean,optional)
        + data (Account Recurring Charges)

    + Parameters
        + courseId: 6270 - Course for which user has permission for

+ Response 200 (application/json)

            {
              "data": {
                "type": "accountRecurringCharges",
                "id": "123",
                "attributes": {
                  "name": "Annual Membership",
                  "description": "Pay once, and visit the whole year long!",
                  "date_created": "2016-12-06T17:09:47-0700",
                  "start_date": "2016-12-12T11:11:11-0700",
                  "end_date": "2016-12-12T11:11:11-0700",
                  "created_by": 12,
                  "organization_id": 6270,
                  "is_active": true,
                  "date_deleted": null,
                  "deleted_by": null
                }
              }
            }

### Create [POST /courses/{courseId}/accountRecurringCharges]
+ Request (application/json)

    + Headers

            x-authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJhdWQiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJpYXQiOjE1MTYwNTY0NDYsImV4cCI6MTUxODY0ODQ0NiwibGV2ZWwiOjMsImNpZCI6NjI3MCwiZW1wbG95ZWUiOnRydWUsInVpZCI6MTJ9.jbRcT7nRaofG3VnryYne7jKiaBOAAAZTdvPV4TiUOLHy41sQDgSis1yY3p_qK4ahAha6Z2_o2CHWYIaZwQgeLg


    + Attributes
        + meta (object,optional)
            + test: true (boolean,optional)
        + data (Account Recurring Charges)

    + Parameters
        + courseId: 6270 - Course for which user has permission for

+ Response 200 (application/json)

            {
              "data": {
                "type": "accountRecurringCharges",
                "id": "123",
                "attributes": {
                  "name": "Annual Membership",
                  "description": "Pay once, and visit the whole year long!",
                  "date_created": "2016-12-06T17:09:47-0700",
                  "start_date": "2016-12-12T11:11:11-0700",
                  "end_date": "2016-12-12T11:11:11-0700",
                  "created_by": 12,
                  "organization_id": 6270,
                  "is_active": true,
                  "date_deleted": null,
                  "deleted_by": null
                }
              }
            }

### Delete [DELETE /courses/{courseId}/accountRecurringCharges/{recurringChargeId}]

+ Request (application/json)

    + Headers

            x-authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJhdWQiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJpYXQiOjE1MTYwNTY0NDYsImV4cCI6MTUxODY0ODQ0NiwibGV2ZWwiOjMsImNpZCI6NjI3MCwiZW1wbG95ZWUiOnRydWUsInVpZCI6MTJ9.jbRcT7nRaofG3VnryYne7jKiaBOAAAZTdvPV4TiUOLHy41sQDgSis1yY3p_qK4ahAha6Z2_o2CHWYIaZwQgeLg

    + Attributes
        + meta (object,optional)
            + test: true (boolean,optional)

+ Parameters
    + courseId : 6270 - A course id that the user has permission to access.
    + recurringChargeId : 10 - The id of a recurring charge the user has permission to access.

+ Response 200 (application/json)

            {
              "data": {
                "success": true,
                "content": "recurring_charge deleted"
              }
            }

## Recurring Charge Customer [/courses/{courseId}/accountRecurringCharges/{recurringChargeId}/accountRecurringChargeCustomers/{id}{?include}]

### List All [GET /courses/{courseId}/accountRecurringCharges/{recurringChargeId}/accountRecurringChargeCustomers{?include}]

+ Request (application/json)

    + Headers

            x-authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJhdWQiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJpYXQiOjE1MTYwNTY0NDYsImV4cCI6MTUxODY0ODQ0NiwibGV2ZWwiOjMsImNpZCI6NjI3MCwiZW1wbG95ZWUiOnRydWUsInVpZCI6MTJ9.jbRcT7nRaofG3VnryYne7jKiaBOAAAZTdvPV4TiUOLHy41sQDgSis1yY3p_qK4ahAha6Z2_o2CHWYIaZwQgeLg

+ Parameters
    + courseId : 6270 - A course id that the user has permission to access.
    + recurringChargeId: 10
    + include: `recurring_charge` (enum[string], optional)
            + Members
                + `recurring_charge`

+ Response 200 (application/json)

            {
              "data": [
                {
                  "type": "accountRecurringChargeCustomers",
                  "id": "2",
                  "attributes": {
                    "include": true,
                    "person_id": 3399,
                    "recurring_charge_id": 10
                  },
                  "relationships": {
                    "recurring_charge": {
                      "data": {
                        "type": "recurring_charge",
                        "id": "10"
                      }
                    }
                  }
                }
              ],
              "included": [
                {
                  "type": "recurring_charge",
                  "id": "10",
                  "attributes": {
                    "name": "valid name",
                    "description": "valid description",
                    "date_created": "2016-12-12T11:11:11-0700",
                    "start_date": null,
                    "end_date": null,
                    "created_by": 12,
                    "organization_id": 6270,
                    "is_active": true,
                    "date_deleted": null,
                    "deleted_by": null
                  }
                }
              ]
            }

### Get One [GET /courses/{courseId}/accountRecurringChargeCustomers/{recurringChargeCustomerId}{?include}]

+ Request (application/json)

    + Headers

            x-authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJhdWQiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJpYXQiOjE1MTYwNTY0NDYsImV4cCI6MTUxODY0ODQ0NiwibGV2ZWwiOjMsImNpZCI6NjI3MCwiZW1wbG95ZWUiOnRydWUsInVpZCI6MTJ9.jbRcT7nRaofG3VnryYne7jKiaBOAAAZTdvPV4TiUOLHy41sQDgSis1yY3p_qK4ahAha6Z2_o2CHWYIaZwQgeLg

+ Parameters
    + courseId : 6270 - A course id that the user has permission to access.
    + recurringChargeCustomerId: 2 - The id of the link from recurring charge to a particular customer
    + include: `recurring_charge` (enum[string], optional)
            + Members
                + `recurring_charge`

+ Response 200 (application/json)

            {
              "data": [
                {
                  "type": "accountRecurringChargeCustomers",
                  "id": "2",
                  "attributes": {
                    "include": true,
                    "person_id": 3399,
                    "recurring_charge_id": 10
                  },
                  "relationships": {
                    "recurring_charge": {
                      "data": {
                        "type": "recurring_charge",
                        "id": "10"
                      }
                    }
                  }
                }
              ],
              "included": [
                {
                  "type": "recurring_charge",
                  "id": "10",
                  "attributes": {
                    "name": "valid name",
                    "description": "valid description",
                    "date_created": "2016-12-12T11:11:11-0700",
                    "start_date": null,
                    "end_date": null,
                    "created_by": 12,
                    "organization_id": 6270,
                    "is_active": true,
                    "date_deleted": null,
                    "deleted_by": null
                  }
                }
              ]
            }

### Create [POST /courses/{courseId}/accountRecurringCharges/{recurringChargeId}/accountRecurringChargeCustomers]
+ Request (application/json)

    + Headers

            x-authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJhdWQiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJpYXQiOjE1MTYwNTY0NDYsImV4cCI6MTUxODY0ODQ0NiwibGV2ZWwiOjMsImNpZCI6NjI3MCwiZW1wbG95ZWUiOnRydWUsInVpZCI6MTJ9.jbRcT7nRaofG3VnryYne7jKiaBOAAAZTdvPV4TiUOLHy41sQDgSis1yY3p_qK4ahAha6Z2_o2CHWYIaZwQgeLg


    + Attributes
        + meta (object,optional)
            + test: true (boolean,optional)
        + data (Account Recurring Charge Customers)

    + Parameters
        + courseId: 6270 - Course for which user has permission for

+ Response 200 (application/json)

            {
              "data": {
                "type": "accountRecurringChargeCustomers",
                "id": "4",
                "attributes": {
                  "include": 1,
                  "person_id": 3398,
                  "recurring_charge_id": 10
                }
              }
            }

### Delete [DELETE /courses/{courseId}/accountRecurringChargeCustomers/{id}]

+ Request (application/json)

    + Headers

            x-authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJhdWQiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJpYXQiOjE1MTYwNTY0NDYsImV4cCI6MTUxODY0ODQ0NiwibGV2ZWwiOjMsImNpZCI6NjI3MCwiZW1wbG95ZWUiOnRydWUsInVpZCI6MTJ9.jbRcT7nRaofG3VnryYne7jKiaBOAAAZTdvPV4TiUOLHy41sQDgSis1yY3p_qK4ahAha6Z2_o2CHWYIaZwQgeLg


    + Attributes
        + meta (object,optional)
            + test: true (boolean,optional)

+ Parameters
    + courseId : 6270 - A course id that the user has permission to access.
    + id: 2 - The id of the link from recurring charge to a particular customer

+ Response 200 (application/json)

            {
              "data": {
                "success": true,
                "content": "accountRecurringChargeCustomers instance deleted"
              }
            }

## Recurring Charge Group [/courses/{courseId}/accountRecurringCharges/{recurringChargeId}/accountRecurringChargeGroups/{recurringChargeGroupId}{?include}]

### List All [GET /courses/{courseId}/accountRecurringCharges/{recurringChargeId}/accountRecurringChargeGroups{?include}]

+ Request (application/json)

    + Headers

            x-authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJhdWQiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJpYXQiOjE1MTYwNTY0NDYsImV4cCI6MTUxODY0ODQ0NiwibGV2ZWwiOjMsImNpZCI6NjI3MCwiZW1wbG95ZWUiOnRydWUsInVpZCI6MTJ9.jbRcT7nRaofG3VnryYne7jKiaBOAAAZTdvPV4TiUOLHy41sQDgSis1yY3p_qK4ahAha6Z2_o2CHWYIaZwQgeLg

+ Parameters
    + courseId : 6270 - A course id that the user has permission to access.
    + recurringChargeId: 10
    + include: `recurring_charge` (enum[string], optional)
            + Members
                + `recurring_charge`

+ Response 200 (application/json)

            {
              "data": [
                {
                  "type": "accountRecurringChargeGroups",
                  "id": "2",
                  "attributes": {
                    "include": true,
                    "group_id": 3399,
                    "recurring_charge_id": 10
                  },
                  "relationships": {
                    "recurring_charge": {
                      "data": {
                        "type": "recurring_charge",
                        "id": "10"
                      }
                    }
                  }
                }
              ],
              "included": [
                {
                  "type": "recurring_charge",
                  "id": "10",
                  "attributes": {
                    "name": "valid name",
                    "description": "valid description",
                    "date_created": "2016-12-12T11:11:11-0700",
                    "start_date": null,
                    "end_date": null,
                    "created_by": 12,
                    "organization_id": 6270,
                    "is_active": true,
                    "date_deleted": null,
                    "deleted_by": null
                  }
                }
              ]
            }

### Get One [GET /courses/{courseId}/accountRecurringChargeGroups/{recurringChargeGroupId}{?include}]

+ Request (application/json)

    + Headers

            x-authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJhdWQiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJpYXQiOjE1MTYwNTY0NDYsImV4cCI6MTUxODY0ODQ0NiwibGV2ZWwiOjMsImNpZCI6NjI3MCwiZW1wbG95ZWUiOnRydWUsInVpZCI6MTJ9.jbRcT7nRaofG3VnryYne7jKiaBOAAAZTdvPV4TiUOLHy41sQDgSis1yY3p_qK4ahAha6Z2_o2CHWYIaZwQgeLg

+ Parameters
    + courseId : 6270 - A course id that the user has permission to access.
    + recurringChargeGroupId: 1 - The id of the link from recurring charge to a particular group
    + include: `recurring_charge` (enum[string], optional)
            + Members
                + `recurring_charge`

+ Response 200 (application/json)

            {
              "data": [
                {
                  "type": "accountRecurringChargeGroups",
                  "id": "2",
                  "attributes": {
                    "include": true,
                    "group_id": 1,
                    "recurring_charge_id": 10
                  },
                  "relationships": {
                    "recurring_charge": {
                      "data": {
                        "type": "recurring_charge",
                        "id": "10"
                      }
                    }
                  }
                }
              ],
              "included": [
                {
                  "type": "recurring_charge",
                  "id": "10",
                  "attributes": {
                    "name": "valid name",
                    "description": "valid description",
                    "date_created": "2016-12-12T11:11:11-0700",
                    "start_date": null,
                    "end_date": null,
                    "created_by": 12,
                    "organization_id": 6270,
                    "is_active": true,
                    "date_deleted": null,
                    "deleted_by": null
                  }
                }
              ]
            }

### Create [POST /courses/{courseId}/accountRecurringCharges/{recurringChargeId}/accountRecurringChargeGroups]
+ Request (application/json)

    + Headers

            x-authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJhdWQiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJpYXQiOjE1MTYwNTY0NDYsImV4cCI6MTUxODY0ODQ0NiwibGV2ZWwiOjMsImNpZCI6NjI3MCwiZW1wbG95ZWUiOnRydWUsInVpZCI6MTJ9.jbRcT7nRaofG3VnryYne7jKiaBOAAAZTdvPV4TiUOLHy41sQDgSis1yY3p_qK4ahAha6Z2_o2CHWYIaZwQgeLg


    + Attributes
        + meta (object,optional)
            + test: true (boolean,optional)
        + data (Account Recurring Charge Customers)

    + Parameters
        + courseId: 6270 - Course for which user has permission for

+ Response 200 (application/json)

            {
              "data": {
                "type": "accountRecurringChargeGroups",
                "id": "4",
                "attributes": {
                  "include": 1,
                  "group_id": 1,
                  "recurring_charge_id": 10
                }
              }
            }

### Delete [DELETE /courses/{courseId}/accountRecurringChargeGroups/{id}]

+ Request (application/json)

    + Headers

            x-authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJhdWQiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJpYXQiOjE1MTYwNTY0NDYsImV4cCI6MTUxODY0ODQ0NiwibGV2ZWwiOjMsImNpZCI6NjI3MCwiZW1wbG95ZWUiOnRydWUsInVpZCI6MTJ9.jbRcT7nRaofG3VnryYne7jKiaBOAAAZTdvPV4TiUOLHy41sQDgSis1yY3p_qK4ahAha6Z2_o2CHWYIaZwQgeLg


    + Attributes
        + meta (object,optional)
            + test: true (boolean,optional)

+ Parameters
    + courseId : 6270 - A course id that the user has permission to access.
    + id: 1 - The id of the link from recurring charge to a particular group

+ Response 200 (application/json)

            {
              "data": {
                "success": true,
                "content": "accountRecurringChargeCustomers instance deleted"
              }
            }

## Recurring ChargeItems [/courses/{courseId}/accountRecurringChargeItems{?include,includeDeleted,endDate,startDate,offset,limit}]

### List All [GET /courses/{courseId}/accountRecurringChargeItems{?include,includeDeleted,endDate,startDate,offset,limit}]

+ Request (application/json)

    + Headers

            x-authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJhdWQiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJpYXQiOjE1MTYwNTY0NDYsImV4cCI6MTUxODY0ODQ0NiwibGV2ZWwiOjMsImNpZCI6NjI3MCwiZW1wbG95ZWUiOnRydWUsInVpZCI6MTJ9.jbRcT7nRaofG3VnryYne7jKiaBOAAAZTdvPV4TiUOLHy41sQDgSis1yY3p_qK4ahAha6Z2_o2CHWYIaZwQgeLg

+ Parameters
    + courseId : 6270 - A course id that the user has permission to access.
    + include: `recurring_charge` (enum[string], optional)
            + Members
                + `recurring_charge`
    + includeDeleted: `true` (boolean,optional)
    + offset: 1 (number,optional)
    + limit: 1 (number,optional)
    + startDate: `2016-10-04T16:17:39-0700` (string,optional)
    + endDate: `2016-12-24T16:17:39-0700` (string,optional)

+ Response 200 (application/json)

            {
              "data": [
                {
                  "type": "accountRecurringChargeItems",
                  "id": "2",
                  "attributes": {
                    "item_id": 5035,
                    "item_type": "item",
                    "line_number": 1,
                    "override_price": null,
                    "discount_percent": "0.00",
                    "quantity": "1.00",
                    "recurring_charge_id": 1
                  },
                  "relationships": {
                    "repeated": {
                      "data": {
                        "type": "repeated",
                        "id": "3"
                      }
                    },
                    "item": {
                      "data": {
                        "type": "item",
                        "id": "5035"
                      }
                    },
                    "recurring_charge": {
                      "data": {
                        "type": "accountRecurringCharges",
                        "id": "1"
                      }
                    }
                  }
                }
              ],
              "included": [
                {
                  "type": "itemTax",
                  "id": "0_5035_Tax 1_7.000",
                  "attributes": {
                    "courseId": 0,
                    "cid": 0,
                    "itemId": 5035,
                    "name": "Tax 1",
                    "percent": "7.000",
                    "cumulative": 0
                  }
                },
                {
                  "type": "repeated",
                  "id": "3",
                  "attributes": {
                    "type": "recurring_charge_item",
                    "resource_id": 2,
                    "last_ran": {
                      "date": "2030-03-05 00:00:00.000000",
                      "timezone_type": 3,
                      "timezone": "America/Denver"
                    },
                    "next_occurence": "2030-04-05T00:00:00-0600",
                    "freq": "MONTHLY",
                    "dtstart": null,
                    "until": null,
                    "interval": 1,
                    "count": null,
                    "bymonth": [],
                    "byweekno": [],
                    "byyearday": [],
                    "bymonthday": [
                      "5"
                    ],
                    "byday": [],
                    "wkst": null,
                    "byhour": [
                      "0"
                    ],
                    "byminute": [
                      "0"
                    ],
                    "bysecond": [
                      "0"
                    ],
                    "bysetpos": [
                      "1"
                    ]
                  }
                },
                {
                  "type": "item",
                  "id": "5035",
                  "attributes": {
                    "maxDiscount": 0,
                    "addOnPrice": 0,
                    "costPrice": 0,
                    "courseId": 6270,
                    "quantity": 989,
                    "numberOfSides": 0,
                    "unitPrice": 7.48,
                    "basePrice": 7.48,
                    "category": "Service",
                    "itemNumber": "3001",
                    "location": "",
                    "name": "Large Range Bucket",
                    "subcategory": "Range Balls",
                    "department": "Pro Shop",
                    "description": "",
                    "glCode": null,
                    "isInactive": false,
                    "doNotPrint": false,
                    "deleted": false,
                    "isfoodAndBeverage": false,
                    "isFoodAndBeverage": false,
                    "isInvisible": false,
                    "isFee": false,
                    "isServiceFee": false,
                    "isGiftcard": false,
                    "isPass": false,
                    "isSide": false,
                    "isUnlimited": true,
                    "isSoupOrSalad": true,
                    "unitPriceIncludesTax": false,
                    "itemType": "item",
                    "serviceFeeId": null
                  },
                  "relationships": {
                    "taxes": {
                      "data": [
                        {
                          "type": "itemTax",
                          "id": "0_5035_Tax 1_7.000"
                        }
                      ]
                    }
                  }
                },
                {
                  "type": "accountRecurringCharges",
                  "id": "1",
                  "attributes": {
                    "name": "Testing monthly membership",
                    "description": "",
                    "date_created": "2017-03-20T16:39:07-0600",
                    "created_by": 12,
                    "organization_id": 6270,
                    "is_active": true,
                    "date_deleted": null,
                    "deleted_by": null,
                    "prorate_charges": true
                  }
                }
              ],
              "meta": {
                "warnings": []
              }
            }


## Recurring Statements [/courses/{courseId}/accountRecurringStatements{?include,includeDeleted,offset,limit}]

### List All [GET /courses/{courseId}/accountRecurringStatements{?include,includeDeleted,offset,limit}]

+ Request (application/json)

    + Headers

            x-authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJhdWQiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJpYXQiOjE1MTYwNTY0NDYsImV4cCI6MTUxODY0ODQ0NiwibGV2ZWwiOjMsImNpZCI6NjI3MCwiZW1wbG95ZWUiOnRydWUsInVpZCI6MTJ9.jbRcT7nRaofG3VnryYne7jKiaBOAAAZTdvPV4TiUOLHy41sQDgSis1yY3p_qK4ahAha6Z2_o2CHWYIaZwQgeLg

+ Parameters
    + courseId : 6270 - A course id that the user has permission to access.
    + include: `recurring_charge` (enum[string], optional)
            + Members
                + `recurring_charge`
    + includeDeleted: `true` (boolean,optional)
    + offset: 1 (number,optional)
    + limit: 1 (number,optional)

+ Response 200 (application/json)

            {
              "data": [
                {
                  "type": "accountRecurringStatements",
                  "id": "2",
                  "attributes": {
                    "name": null,
                    "customerMessage": "",
                    "dateCreated": "2017-05-10T15:28:48-0600",
                    "createdBy": 12,
                    "organizationId": 6270,
                    "isActive": true,
                    "dateDeleted": "2018-01-16T14:52:00-0700",
                    "deletedBy": 12,
                    "sendEmptyStatements": true,
                    "includeMemberTransactions": true,
                    "includeCustomerTransactions": true,
                    "sendEmail": true,
                    "sendMail": false,
                    "includePastDue": true,
                    "dueAfterDays": 14,
                    "autopayEnabled": true,
                    "autopayAfterDays": 0,
                    "autopayAttempts": 3,
                    "autopayOverdueBalance": true,
                    "payMemberBalance": true,
                    "payCustomerBalance": true,
                    "sendZeroChargeStatement": false,
                    "footerText": "Footer here",
                    "messageText": "Thank you for your business!",
                    "termsAndConditionsText": "Terms and conditions here",
                    "isDefault": false,
                    "financeChargeEnabled": false,
                    "financeChargeAmount": "0.00",
                    "financeChargeType": "percent",
                    "financeChargeAfterDays": 0,
                    "generateDaysInAdvance": 0
                  },
                  "relationships": {
                    "repeated": {
                      "data": {
                        "type": "repeated",
                        "id": "4"
                      }
                    }
                  }
                }
              ],
              "included": [
                {
                  "type": "repeated",
                  "id": "4",
                  "attributes": {
                    "type": "recurring_statement",
                    "resource_id": 2,
                    "last_ran": null,
                    "next_occurence": "2030-01-01T00:00:00-0700",
                    "freq": "MONTHLY",
                    "dtstart": null,
                    "until": null,
                    "interval": null,
                    "count": null,
                    "bymonth": [
                      "1",
                      "4",
                      "7",
                      "10"
                    ],
                    "byweekno": [],
                    "byyearday": [],
                    "bymonthday": [
                      "1"
                    ],
                    "byday": [],
                    "wkst": null,
                    "byhour": [
                      "0"
                    ],
                    "byminute": [
                      "0"
                    ],
                    "bysecond": [
                      "0"
                    ],
                    "bysetpos": []
                  }
                }
              ],
              "meta": {
                "warnings": []
              }
            }

### Get One [GET /courses/{courseId}/accountRecurringStatements/{statementId}]
+ Request (application/json)

    + Headers

            x-authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJhdWQiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJpYXQiOjE1MTYwNTY0NDYsImV4cCI6MTUxODY0ODQ0NiwibGV2ZWwiOjMsImNpZCI6NjI3MCwiZW1wbG95ZWUiOnRydWUsInVpZCI6MTJ9.jbRcT7nRaofG3VnryYne7jKiaBOAAAZTdvPV4TiUOLHy41sQDgSis1yY3p_qK4ahAha6Z2_o2CHWYIaZwQgeLg

+ Parameters
    + courseId : 6270 - A course id that the user has permission to access.
    + statementId : 2

+ Response 200 (application/json)

            {
              "data": [
                {
                  "type": "accountRecurringStatements",
                  "id": "2",
                  "attributes": {
                    "name": "valid name 2",
                    "dateCreated": "2016-12-15T13:00:40-0700",
                    "createdBy": {},
                    "organizationId": 6270,
                    "isActive": true,
                    "dateDeleted": "2016-12-15T13:16:59-0700",
                    "deletedBy": 12,
                    "startDate": null,
                    "endDate": null,
                    "itemizeSales": true,
                    "itemizeInvoices": false,
                    "itemizeCharges": true,
                    "includeBalanceForward": true,
                    "includeSales": true,
                    "includeInvoices": false,
                    "includeCharges": true,
                    "sendEmptyStatements": true
                  }
                }
              ]
            }

### Create [POST /courses/{courseId}/accountRecurringStatements]
+ Request (application/json)

    + Headers

            x-authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJhdWQiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJpYXQiOjE1MTYwNTY0NDYsImV4cCI6MTUxODY0ODQ0NiwibGV2ZWwiOjMsImNpZCI6NjI3MCwiZW1wbG95ZWUiOnRydWUsInVpZCI6MTJ9.jbRcT7nRaofG3VnryYne7jKiaBOAAAZTdvPV4TiUOLHy41sQDgSis1yY3p_qK4ahAha6Z2_o2CHWYIaZwQgeLg


    + Attributes
        + meta (object,optional)
            + test: true (boolean,optional)
        + data (Account Recurring Statement)

    + Parameters
        + courseId: 6270 - Course for which user has permission for

+ Response 200 (application/json)

            {
              "data": {
                "type": "accountRecurringStatements",
                "id": "47",
                "attributes": {
                  "name": "Annual Membership",
                  "customerMessage": "",
                  "dateCreated": "2018-01-16T14:49:04-0700",
                  "createdBy": 12,
                  "organizationId": 6270,
                  "isActive": true,
                  "dateDeleted": null,
                  "deletedBy": null,
                  "sendEmptyStatements": true,
                  "includeMemberTransactions": 0,
                  "includeCustomerTransactions": 0,
                  "sendEmail": 0,
                  "sendMail": 0,
                  "includePastDue": 0,
                  "dueAfterDays": 0,
                  "autopayEnabled": 0,
                  "autopayAfterDays": 0,
                  "autopayAttempts": 0,
                  "autopayOverdueBalance": 0,
                  "payMemberBalance": 0,
                  "payCustomerBalance": 0,
                  "sendZeroChargeStatement": 0,
                  "footerText": null,
                  "messageText": null,
                  "termsAndConditionsText": null,
                  "isDefault": 0,
                  "financeChargeEnabled": 0,
                  "financeChargeAmount": 0,
                  "financeChargeType": "percent",
                  "financeChargeAfterDays": 0,
                  "generateDaysInAdvance": 0
                },
                "relationships": {
                  "repeated": {
                    "data": {
                      "type": "repeated",
                      "id": "40"
                    }
                  }
                }
              },
              "included": [
                {
                  "type": "repeated",
                  "id": "40",
                  "attributes": {
                    "type": "recurring_statement",
                    "resource_id": 47,
                    "last_ran": null,
                    "next_occurence": null,
                    "freq": "DAILY",
                    "dtstart": "2016-12-12T11:11:11-0700",
                    "until": "2016-12-12T11:11:11-0700",
                    "interval": 2,
                    "count": null,
                    "bymonth": [
                      "3",
                      "6",
                      "12"
                    ],
                    "byweekno": [
                      "1",
                      "25",
                      "52"
                    ],
                    "byyearday": [
                      "1",
                      "365"
                    ],
                    "bymonthday": [
                      "1",
                      "15",
                      "30"
                    ],
                    "byday": [
                      "MO",
                      "2",
                      "FR"
                    ],
                    "wkst": "MO",
                    "byhour": [
                      "1",
                      "12",
                      "23"
                    ],
                    "byminute": [
                      "1",
                      "30",
                      "60"
                    ],
                    "bysecond": [
                      "1",
                      "30",
                      "60"
                    ],
                    "bysetpos": [
                      "1",
                      "5",
                      "11"
                    ]
                  }
                }
              ],
              "meta": {
                "warnings": []
              }
            }


### Update [PUT /courses/{courseId}/accountRecurringStatements]
+ Request (application/json)

    + Headers

            x-authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJhdWQiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJpYXQiOjE1MTYwNTY0NDYsImV4cCI6MTUxODY0ODQ0NiwibGV2ZWwiOjMsImNpZCI6NjI3MCwiZW1wbG95ZWUiOnRydWUsInVpZCI6MTJ9.jbRcT7nRaofG3VnryYne7jKiaBOAAAZTdvPV4TiUOLHy41sQDgSis1yY3p_qK4ahAha6Z2_o2CHWYIaZwQgeLg


   + Attributes
       + meta (object,optional)
           + test: true (boolean,optional)
       + data (Account Recurring Statement)

   + Parameters
       + courseId: 6270 - Course for which user has permission for

+ Response 200 (application/json)

           {
             "data": {
               "type": "accountRecurringStatements",
               "id": "46",
               "attributes": {
                 "name": "Annual Membership",
                 "customerMessage": "",
                 "dateCreated": "2018-01-16T14:44:23-0700",
                 "createdBy": 12,
                 "organizationId": 6270,
                 "isActive": true,
                 "dateDeleted": null,
                 "deletedBy": null,
                 "sendEmptyStatements": true,
                 "includeMemberTransactions": 0,
                 "includeCustomerTransactions": 0,
                 "sendEmail": 0,
                 "sendMail": 0,
                 "includePastDue": 0,
                 "dueAfterDays": 0,
                 "autopayEnabled": 0,
                 "autopayAfterDays": 0,
                 "autopayAttempts": 0,
                 "autopayOverdueBalance": 0,
                 "payMemberBalance": 0,
                 "payCustomerBalance": 0,
                 "sendZeroChargeStatement": 0,
                 "footerText": null,
                 "messageText": null,
                 "termsAndConditionsText": null,
                 "isDefault": 0,
                 "financeChargeEnabled": 0,
                 "financeChargeAmount": 0,
                 "financeChargeType": "percent",
                 "financeChargeAfterDays": 0,
                 "generateDaysInAdvance": 0
               },
               "relationships": {
                 "repeated": {
                   "data": {
                     "type": "repeated",
                     "id": "39"
                   }
                 }
               }
             },
             "included": [
               {
                 "type": "repeated",
                 "id": "39",
                 "attributes": {
                   "type": "recurring_statement",
                   "resource_id": 46,
                   "last_ran": null,
                   "next_occurence": null,
                   "freq": "DAILY",
                   "dtstart": "2016-12-12T11:11:11-0700",
                   "until": "2016-12-12T11:11:11-0700",
                   "interval": 2,
                   "count": null,
                   "bymonth": [
                     "3",
                     "6",
                     "12"
                   ],
                   "byweekno": [
                     "1",
                     "25",
                     "52"
                   ],
                   "byyearday": [
                     "1",
                     "365"
                   ],
                   "bymonthday": [
                     "1",
                     "15",
                     "30"
                   ],
                   "byday": [
                     "MO",
                     "2",
                     "FR"
                   ],
                   "wkst": "MO",
                   "byhour": [
                     "1",
                     "12",
                     "23"
                   ],
                   "byminute": [
                     "1",
                     "30",
                     "60"
                   ],
                   "bysecond": [
                     "1",
                     "30",
                     "60"
                   ],
                   "bysetpos": [
                     "1",
                     "5",
                     "11"
                   ]
                 }
               }
             ],
             "meta": {
               "warnings": []
             }
           }


### Delete [DELETE /courses/{courseId}/accountRecurringStatements/{statementId}]

+ Request (application/json)

    + Headers

            x-authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJhdWQiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJpYXQiOjE1MTYwNTY0NDYsImV4cCI6MTUxODY0ODQ0NiwibGV2ZWwiOjMsImNpZCI6NjI3MCwiZW1wbG95ZWUiOnRydWUsInVpZCI6MTJ9.jbRcT7nRaofG3VnryYne7jKiaBOAAAZTdvPV4TiUOLHy41sQDgSis1yY3p_qK4ahAha6Z2_o2CHWYIaZwQgeLg

+ Parameters
  + courseId : 6270 - A course id that the user has permission to access.
  + statementId : 2

+ Response 200 (application/json)

            {
              "data": {
                "success": true,
                "content": "accountRecurringStatements instance deleted"
              }
            }

# Group Webhook

A webhook allows you to recieve instanst feedback when ever something happens on the foreUp system.  See a list of the available events [below](#reference/webhook-events/delete).

We recommend using [Request Bin](https://requestb.in/) to play with the hooks.  It will record all calls from our system to the hook and help you understand how the calls are made.

## Hooks Collection [/hooks]

### List All [GET]
+ Request (application/json)

    + Headers

            x-authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJhdWQiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJpYXQiOjE1MTYwNTY0NDYsImV4cCI6MTUxODY0ODQ0NiwibGV2ZWwiOjMsImNpZCI6NjI3MCwiZW1wbG95ZWUiOnRydWUsInVpZCI6MTJ9.jbRcT7nRaofG3VnryYne7jKiaBOAAAZTdvPV4TiUOLHy41sQDgSis1yY3p_qK4ahAha6Z2_o2CHWYIaZwQgeLg

+ Response 200 (application/json)

    + Attributes
        + data (array[Webhook])


### Create [POST]
+ Request (application/json)

    + Headers

            x-authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJhdWQiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJpYXQiOjE1MTYwNTY0NDYsImV4cCI6MTUxODY0ODQ0NiwibGV2ZWwiOjMsImNpZCI6NjI3MCwiZW1wbG95ZWUiOnRydWUsInVpZCI6MTJ9.jbRcT7nRaofG3VnryYne7jKiaBOAAAZTdvPV4TiUOLHy41sQDgSis1yY3p_qK4ahAha6Z2_o2CHWYIaZwQgeLg

    + Body

    + Attributes
        + data (Webhook)

+ Response 200 (application/json)

    + Attributes
        + data (Webhook)

### Delete [DELETE /hooks/{id}]
+ Request (application/json)

    + Headers

            x-authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJhdWQiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJpYXQiOjE1MTYwNTY0NDYsImV4cCI6MTUxODY0ODQ0NiwibGV2ZWwiOjMsImNpZCI6NjI3MCwiZW1wbG95ZWUiOnRydWUsInVpZCI6MTJ9.jbRcT7nRaofG3VnryYne7jKiaBOAAAZTdvPV4TiUOLHy41sQDgSis1yY3p_qK4ahAha6Z2_o2CHWYIaZwQgeLg

+ Response 200 (application/json)

            {
              "success": true
            }


# Group Webhook Events

    foreUp’s Event Webhook will notify a URL of your choice via HTTP POST with information about events that occur in a course.
        These events include:

## Customer Updated (Event key: customer.updated)

This event triggers when a customer is edited

* From within the customer module
* From the tee sheet
* From logging into online booking and editing their own information

        {
            "event":"customer.updated",
            "course_id":"6270",
            "id":"342234432"
        }

## Tee Time Updated (Event key: teetime.updated)

The only way to know how a tee time has changed is by issueing a seperate call to our servers to get information on the tee time.  We recommend refreshing your local information about a tee time every time this calls comes through.

This event triggers when:

* An employee clicks the update button in the tee sheet
* The tee time is moved from within the tee sheet

        {
            "event":"teetime.updated",
            "course_id":"6270",
            "id":"342234432"
        }

## Tee Time Deleted (Event key: teetime.deleted)

This triggers when:

* A customer cancels the tee time from online booking
* An employee deletes the time

        {
            "event":"teetime.deleted",
            "course_id":"6270",
            "id":"342234432"
        }

## Sale Created (Event key: sale.created)

Sales may or may not have a customer attached.  This event triggers any time a sale is complete through the POS.

        {
            "event":"sale.created",
            "course_id":"6270",
            "id":"342234432"
        }

# Data Structures

## Headers (object)
+ x-authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJhdWQiOiJkZXZlbG9wbWVudC5mb3JldXBzb2Z0d2FyZS5jb20iLCJpYXQiOjE1MTYwNTY0NDYsImV4cCI6MTUxODY0ODQ0NiwibGV2ZWwiOjMsImNpZCI6NjI3MCwiZW1wbG95ZWUiOnRydWUsInVpZCI6MTJ9.jbRcT7nRaofG3VnryYne7jKiaBOAAAZTdvPV4TiUOLHy41sQDgSis1yY3p_qK4ahAha6Z2_o2CHWYIaZwQgeLg

## Webhook (object)
+ type: api_hooks (string,required)
+ id: 1 (string, optional)
+ attributes (object)
    + url:  https://requestb.in/18unim81 (string,required) - The URL we'll call when the event occurs
    + event:  customer.updated (enum[string],required) - Which event to listen to.
        + Members
            + customer.updated
            + sale.created
            + teetime.deleted
            + teetime.updated
    + headerKey: x-authorizationkey (string, optional) - For authorization you can set a single key/value pair
    + headerValue: sometokenorsomething (string, optional) - The value for the key above

## Sales (object)
+ type: sales (string,required)
+ id: 1 (string, optional)
+ attributes (object)
    + employeeId:  5478650 (number,required) - The id of the employee completing the sale
    + guestCount:  3 (number,optional) - Number of guests on the sale.  Used in reporting.
    + number:  485 (number,required) - The customer facing sale number. Used on reciepts
    + paymentType: `Credit Card: $21.00` (string)
    + refundComment: `` (string)
    + refundReason: `` (string)
    + total: 21 (number)
    + subtotal: 21 (number)
    + tax: 0 (number)
    + deleted: false (boolean)
+ relationships (object)
    + items (object)
    + terminals (object)
    + bookings (object)




## Sales Items
+ type: sales_items (string,required) - Type of Object
+ id: 183873271 (string,required) - Unique idenetifier for a course
+ attributes (object)
    + total: 52.38 (number),
    + subTotal: 47.62 (number),
    + tax: 2.38 (number),
    + quantity: 1 (number),
    + unitPrice: 50 (number),
    + discountPercent: 0 (number),
    + profit: 47.62 (number),
    + department: `Public Green Fees` (string),
    + category: `Green Fees` (string),
    + subcategory: `` (string),
    + glCode: `` (string),
    + itemNumber: `6270_seasonal_1` (string),
    + itemId: 122925 (number),
    + name: `18 Holes` (string)
    + description: `` (string)
    + priceClass: `Non-Res. - Adult` (string)
    + priceClassId: 5 (string)


## Courses (object)
+ type: courses (string,required) - Type of Object
+ id: 6270 (string,required) - Unique idenetifier for a course
+ attributes (object)
    + title: Cascade (string) - Name of course
    + street: The place (string) - Street address of the course
    + city: Cityville (string) - City of the course
    + state: UT (string) - State of the course
    + zip: 84097 (string) - Zip of the course
    + phone: 1231231234 (string)
    + course_summary: ``(string) - Brief summary of the course
    + base_color: ``(string) - Color used in mobile app

## Tee Sheets (object)
+ type: terminals (string,required)
+ id: 6 (string,required)
+ attributes (object)
    + title: Exec 9 holes (string)
    + course_id: 6279 (string)

## Terminals (object)
+ type: terminals (string,required)
+ id: 6 (string,required)
+ attributes (object)
    + title: Pro Shop (string)

## Seasons
+ type: seasons (string,required)
+ id: 2 (string,optional)
+ attributes (object)
    + name: Default Season (string)
    + startDate (object)
        + date: `0000-01-01`
    + endDate (object)
        + date: `0000-12-31`

## Seasonal Timeframes
+ type: timeframes (string,required)
+ id: 8 (string,optional)
+ attributes (object)
    + name: Default (string)
    + monday: false (boolean)
    + tuesday: false (boolean)
    + wednesday: false (boolean)
    + thursday: false (boolean)
    + friday: false (boolean)
    + saturday: false (boolean)
    + sunday: false (boolean)
    + 9holePrice: 10 (number)
    + 9cartPrice: 15 (number)
    + 18holePrice: 25 (number)
    + 18cartPrice: 30 (number)
    + startTime: 0 (number)
    + endTime: 2400 (number)
    + `default`: false (boolean)
+ relationships (object)
    + classes (object)
        + data (object, required)
            + type: classes (string, required)
            + id: 5 (string, required)

## Date Time (object)
+ date: `2016-09-29 13:26:00.000000` (string)
+ timezone_type: 3 (number)
+ timezone: `American/Denver` (string)

## Booked Player (object)
+ type: bookedPlayer (string,required)
+ id: 1 (string,optional)
+ attributes (object)
    + name: John Smith (string) - It's possible to put a name on a slot without creating a person object
    + paid: false (boolean) - Was this paid for through the POS
    + cartPaid: false (boolean) - Were the carts paid for through the POS
    + noShow: false (boolean) - Was this explicetly marked as a no-show
    + priceClassId: 1 (string) - You can also include the "priceClasses" object
    + personId: 30 (string) - You can also include the "people" object

## Bookings (object)
+ type: bookings (string,required)
+ id: TTID_0117154814d25h0 (string,required) - Unique idenetifier for a booking
+ attributes (object)
    + isReround: false (boolean) - A reround is usually tied to the original booking to mark what time they'll start on the back 9
    + type: teetime (enum[string])
        + Members
            + `teetime`
            + `league`
            + `shotgun`
            + `event`
            + `tournament`
            + `closed`
    + status: checked in (enum[string])
        + Members
            + `checked in`
            + ``
            + `teed off`
    + duration: 1 (number) - The number of increments the booking takes up
    + playerCount: 2 (number)
    + holes: 18 (number)
    + carts: 4 (number)
    + paidPlayerCount: 2 (number)
    + noShowCount: 2 (number)
    + title: Hopkins (string)
    + details: `Reserved using online booking @ 2:53pm` (string)
    + side: front (string)
    + bookingSource: online (enum[string])
        + Members
            + `online`
            + `POS`
            + `standby`
            + ``
    + start (Date Time)
    + end (Date Time)
    + lastUpdated  (Date Time)
    + dateBooked  (Date Time)
+ relationships (object)
    + players (object)
    + sales (object)

## Payments
+ paymentAmount:  20 (number,required) - Total amount paid for by this payment type.
+ invoiceId:  1 (number,required) - A unique identifier the course can link back to their payment processor.
+ type : credit_card (enum[string],required) - Identifier showing how the payment was processed
    + Members
        + `credit_card`
        + `cash`
        + `change`
        + `member_account`
        + `gift_card`
        + `punch_card`

## Sales Items Request
+ itemId:  5311 (number,required) - A valid item id currently found in the courses inventory.
+ quantity:  1 (number,required) - Total items purchased.
+ unitPrice:  10 (number,required) - Price per individual item sold with tax
+ description:  Cool Item (string,optional) - Optional message to save with the item.

## Sales Request (object)
+ type: sales (string,required)
+ attributes (object)
    + employeeId:  `5478650` (string,required) - The id of the employee completing the sale
    + guestCount:  3 (number,optional) - Number of guests on the sale.  Used in reporting.
    + number:  485 (number,required) - The customer facing sale number. Used on reciepts
    + terminalid: 6 (number,required) - The id of the terminal this sale will be recorded under.
    + items (array)
        + (Sales Items Request)
    + payments (array)
        + (Payments)

## Account Recurring Charges (object)
+ type: `accountRecurringCharges`
+ attributes (object)
    + name: `Annual Membership` (string,optional)
    + description: `Pay once, and visit the whole year long!` (string,optional)
    + date_created: `2016-12-12T11:11:11-0700` (string,optional) - Defaults to the current time
    + start_date: `2016-12-12T11:11:11-0700` (string,optional) - Beginning date that the charge is valid for
    + end_date: `2016-12-12T11:11:11-0700` (string,optional) - End date, after which the charge is no longer valid
    + created_by: `5478650` (number,required) - The id of the employee who created the charge
    + organization_id: 6270 (number)
    + is_active: true (boolean,required)
    + date_deleted: `2016-12-12T11:11:11-0700` (string,optional)
    + deleted_by: 5478650 (number,optional) - The id of the employee who deleted the charge
    + payment_terms: 1 (number,optional)
    + items (array,optional)
        + (Account Recurring Charge Items)

## Account Recurring Charge Items (object)
+ type: `items`
+ attributes (object)
    + line_number: 2 (number,required) - Position the item appears on an invoice
    + item_id: 5296 (number,required) - Reference to the item
    + item_type: `item` (enum[string],required) - Defaults to "item"
        + Members
            + `item`
    + unit_price: 19.99 (number,optional) - Leave null to use item default price
    + discount_percent: 15.00 (number,optional) - Numbers from 100 - 0 corresponding to %
    + quantity: 1.00 (number,required) - Quantity of the item to be charged. Defaults to 1
    + recurring_charge (required,Account Recurring Charges)
    + repeated (optional,Repeatable Account Recurring Charge Items)

## Account Recurring Charge Customers (object)
+ type: `accountRecurringChargeCustomers`
+ attributes (object)
    + include: true (boolean,optional)
    + person_id: 12345 (number,required)
    + recurring_charge_id: 10 (number,required)

## Account Recurring Charge Groups (object)
+ type: `accountRecurringChargeGroups`
+ attributes (object)
    + include: true (boolean,optional)
    + group_id: 12345 (number,required)
    + recurring_charge_id: 10 (number,required)

## Account Recurring Statement(object)
+ type: 'accountRecurringStatements'
+ attributes (object)
    + name: `Annual Membership` (string,optional)
    + description: `Pay once, and visit the whole year long!` (string,optional)
    + date_created: `2016-12-12T11:11:11-0700` (string,optional) - Defaults to the current time
    + start_date: `2016-12-12T11:11:11-0700` (string,optional) - Beginning date that the charge is valid for
    + end_date: `2016-12-12T11:11:11-0700` (string,optional) - End date, after which the charge is no longer valid
    + created_by: `5478650` (number,required) - The id of the employee who created the charge
    + organization_id: 6270 (number)
    + is_active: true (boolean,required)
    + date_deleted: `2016-12-12T11:11:11-0700` (string,optional)
    + deleted_by: 5478650 (number,optional) - The id of the employee who deleted the charge
    + payment_terms: 1 (number,optional)
    + repeated (optional,Repeatable Account Recurring Statements)
    + includeBalanceForward: true (boolean,optional)
    + sendEmptyStatements: true (boolean,optional)
    + itemizeSales: true (boolean,optional)
    + itemizeInvoices: true (boolean,optional)
    + itemizeCharges: true (boolean,optional)
    + includeSales: true (boolean,optional)
    + includeInvoices: false (boolean,optional)
    + includeCharges: true (boolean,optional)

## Active Account Recurring Statement(object)
+ type: 'accountRecurringStatements'
+ attributes (object)
    + id: 2 (number,required)
    + name: `Annual Membership` (string,optional)
    + description: `Pay once, and visit the whole year long!` (string,optional)
    + date_created: `2016-12-12T11:11:11-0700` (string,optional) - Defaults to the current time
    + start_date: `2016-12-12T11:11:11-0700` (string,optional) - Beginning date that the charge is valid for
    + end_date: `2016-12-12T11:11:11-0700` (string,optional) - End date, after which the charge is no longer valid
    + created_by: `5478650` (number,required) - The id of the employee who created the charge
    + organization_id: 6270 (number)
    + is_active: true (boolean,required)
    + date_deleted: `2016-12-12T11:11:11-0700` (string,optional)
    + deleted_by: 5478650 (number,optional) - The id of the employee who deleted the charge
    + payment_terms: 1 (number,optional)
    + repeated (optional,Repeatable Account Recurring Statements)
    + includeBalanceForward: true (boolean,optional)
    + sendEmptyStatements: true (boolean,optional)
    + itemizeSales: true (boolean,optional)
    + itemizeInvoices: true (boolean,optional)
    + itemizeCharges: true (boolean,optional)
    + includeSales: true (boolean,optional)
    + includeInvoices: false (boolean,optional)
    + includeCharges: true (boolean,optional)


## Account Payment Terms (object)
+ type: `paymentTerms`
+ attributes (object)
    + name (string,optional)
    + past_due_days (number,optional)
    + past_due_fee_percentage (number,optional)
    + organization_id (number,required)
    + date_created: `2016-12-12T11:11:11-0700` (string, optional) - Defaults to current timestamp
    + memo (string, optional)

## Repeatable Account Recurring Charge Items
+ type: `recurringChargeItems`
+ attributes (object)
    + item (Account Recurring Charge Items)
    + last_ran: `2016-12-12T11:11:11-0700` (string,optional)
    + next_occurence:`2016-12-12T11:11:11-0700` (string, optional)
    + freq (enum[string],optional)
        + Members
            + `DAILY`
            + `WEEKLY`
            + `MONTHLY`
            + `YEARLY`
    + dtstart: `2016-12-12T11:11:11-0700` (string,optional) - The recurrence start. Defaults to current timestamp
    + until: `2016-12-12T11:11:11-0700` (string,optional) - If given, specifies the limit of the recurrence
    + count (number,optional) - How many occurrences will be generated
    + interval: 2 (number,optional) - The interval between each freq iteration. 2 would be every other freq
    + wkst: `MO` (enum[string],optional) - The week start day. Default is "MO"
        + Members
            + `MO`
            + `TU`
            + `WE`
            + `TH`
            + `FR`
            + `SA`
            + `SU`
            + `0`
            + `1`
            + `2`
            + `3`
            + `4`
            + `5`
            + `6`
    + byday: MO,2,FR (array,optional) - The days of the week on which to iterate. Array of the enumerated valuess, or integers with 0=`MO`
    + bymonth: 3,6,12 (array,optional) - The months on which to iterate. Array of integer month values 1-12
    + bysetpos: 1,5,11 (array,optional) - Array of integers, each specifying an occurrence number of the rule inside the frequency period.
    + bymonthday: 1,15,30 (array,optional) - Array of integers, meaning the month days to apply the recurrence to
    + byyearday: 1,365 (array,optional) - Array of integers, meaning the days of the year to apply the recurrence to
    + byweekno: 1,25,52 (array,optional) - Array of integers, meaning the weeks of the year to apply the recurrence to
    + byhour: 1,12,23 (array,optional) - Array of integers, meaning the hour of the day to apply the recurrence to
[...]
